[submodule "R/SpaDES/m/Boreal_LBMRDataPrep"]
	path = R/SpaDES/m/Boreal_LBMRDataPrep
	url = https://github.com/CeresBarros/Boreal_LBMRDataPrep.git
[submodule "R/SpaDES/m/LBMR"]
	path = R/SpaDES/m/LBMR
	url = https://github.com/CeresBarros/LBMR.git
[submodule "R/SpaDES/m/BiomassSpeciesData"]
	path = R/SpaDES/m/BiomassSpeciesData
	url = https://github.com/CeresBarros/Biomass_speciesData.git
