.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth

Rplots.pdf
logR.txt
*.Rout
*.sh.save

data/
data
packages/*

# Eliot and possibly others are using stand alone folder for packages
Rpackages

# don't ignore
!.gitignore
!packages/pkgSnapshot.txt
