# Ignore
cache/*
cache
outputs/*
outputs
inputs/*
validation
validation/*
.httr-oath
m/*/data
m/*/cache
m/*/*.zip
*.R.save
*.swp
global_cache
global_files
global.md

testBadCache.R

## don't ignore
!m/*/data/CHECKSUMS.txt
!inputs/CHECKSUMS.txt
